{# src\symfony\CinemaBundle\Resources\views\Film\show.html.twig #}
<h1>{{ film.titre }}</h1>

<span>Réalisé par {{ film.auteur }}</span>

<p>{{ film.synopsis }}</p>




<p><a href="{{ path('page_films') }}">Retour</a></p>